.background    { background: rgb(50, 166, 251);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 50, 100); }
.wall          { background: black;   }
.floater {background: orange;   }

.game {
  position: relative;
}
